        * {
            margin: 0 auto;
            max-width: 1270px;
        }
        
        .menuM {
            position: fixed;
            z-index: 9999;
            width: 100%;
            top: 0%;
            background-color: white;
        }
        
        .discount {
            width: 100%;
            background-color: #0a7256;
            color: white;
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: 700;
            text-align: center;
        }
        
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
        
        .logoS img {
            width: 200px;
            margin-left: 450px;
        }
        
        .pp1 {
            position: absolute;
            width: 200px;
            margin-left: 10px;
            display: none;
        }
        
        .icons1 {
            display: flex;
            justify-content: right;
        }
        
        .menu1 {
            margin-bottom: 15px;
        }
        
        .menu1 ul {
            display: flex;
            justify-content: space-around;
            margin-left: 30px;
            margin-right: 50px;
            list-style-type: none;
        }
        
        .menu1 ul {
            margin-top: 0px;
        }
        
        .menu1 a {
            text-decoration: none;
            color: black;
        }
        
        .menu1 a:hover {
            color: rgb(4, 104, 20);
        }
        
        .text01 {
            width: 400px;
            margin-left: 100px;
            margin-top: 60px;
            font-size: 15px;
        }
        
        .text01 h2 {
            font-family: 'Mea Culpa', cursive;
            font-size: 60px;
        }
        
        .text1 img {
            margin-left: 400px;
            margin-top: -160px;
        }
        
        .mainF {
            margin-left: 350px;
            margin-top: -150px;
        }
        
        .pinkBord {
            background-color: #fff0e9;
            margin-top: 100px;
            padding-bottom: 40px;
        }
        
        .pinkBord h3 {
            font-family: 'Cinzel', serif;
            margin-left: 260px;
            padding-top: 20px;
            letter-spacing: 5px;
            font-size: 50px;
            word-spacing: 5px;
        }
        
        .members img {
            margin-left: 90px;
            padding-top: 40px;
        }
        
        .memberText {
            margin-left: 120px;
            padding-top: 20px;
        }
        
        .memberText h5 {
            font-family: 'Cormorant Garamond', serif;
        }
        
        .memberText p {
            margin-left: 30px;
            color: gray;
            letter-spacing: 2px;
        }
        
        .textTwo {
            margin-left: 10px;
        }
        
        .textThree {
            margin-left: 10px;
        }
        
        .memberText1 {
            padding-top: 20px;
            margin-left: 420px;
            margin-top: -120px;
        }
        
        .memberText1 h5 {
            font-family: 'Cormorant Garamond', serif;
        }
        
        .memberText1 p {
            margin-left: 30px;
            color: gray;
            letter-spacing: 2px;
        }
        
        .textTwo1 {
            margin-left: 10px;
        }
        
        .textThree1 {
            margin-left: 10px;
        }
        
        .memberText2 {
            padding-top: 20px;
            margin-left: 700px;
            margin-top: -120px;
        }
        
        .memberText2 h5 {
            font-family: 'Cormorant Garamond', serif;
        }
        
        .memberText2 p {
            margin-left: 30px;
            color: gray;
            letter-spacing: 2px;
        }
        
        .textOne2 {
            margin-left: 20px;
        }
        
        .textTwo2 {
            margin-left: 10px;
        }
        
        .textThree2 {
            margin-left: 10px;
        }
        
        .memberText3 {
            padding-top: 20px;
            margin-left: 1000px;
            margin-top: -120px;
        }
        
        .memberText3 h5 {
            font-family: 'Cormorant Garamond', serif;
        }
        
        .memberText3 p {
            margin-left: 30px;
            color: gray;
            letter-spacing: 2px;
        }
        
        .textTwo3 {
            margin-left: 10px;
        }
        
        .textThree3 {
            margin-left: 10px;
        }
        
        .textOne3 {
            margin-left: 20px;
        }
        
        .carousel-caption h3 {
            font-family: 'Tangerine', cursive;
            word-spacing: 20px;
            font-size: 50px;
        }
        
        .carousel-caption h4 {
            font-family: 'Cinzel', serif;
            letter-spacing: 5px;
            word-spacing: 5px;
            font-size: 40px;
        }
        
        .carousel-caption p {
            font-family: 'Cormorant Garamond', serif;
            font-size: 24px;
            margin-bottom: 140px;
            word-spacing: 5px;
            padding-top: 20px;
        }
        
        .footer {
            display: flex;
            justify-content: space-around;
            margin-left: 100px;
            margin-right: 100px;
            font-size: 12px;
        }
        
        .p1 {
            font-weight: 700;
        }
        
        .end {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        
        .icons {
            display: flex;
            justify-content: center;
        }
        
        .t2 {
            text-align: center;
            margin-top: 10px;
        }
        
        .form {
            margin-top: 130px;
            width: 500px;
            padding-bottom: 100px;
        }
        
        .signText h2 {
            font-size: 30px;
            margin-left: 330px;
            padding-top: 50px;
            color: #fff0e9;
            font-family: 'Cormorant Garamond', serif;
            font-size: 30px;
            word-spacing: 10px;
        }
        
        .sign {
            background-image: url(about.jpg);
        }
        
        button {
            border: none;
            background: #3a7999;
            color: #f2f2f2;
            padding: 10px;
            font-size: 18px;
            border-radius: 5px;
            position: relative;
            box-sizing: border-box;
            transition: all 500ms ease;
        }
        
        button:hover {
            background: rgba(0, 0, 0, 0);
            color: #3a7999;
            box-shadow: inset 0 0 0 3px #3a7999;
        }
        
        .nav {
            margin-top: 10px;
        }
        
        label {
            font-size: 30px;
        }
        
        #toggle {
            display: none;
        }
        
        @media screen and (max-width:600px) {
            .items {
                margin: 0 auto;
            }
            #toggle:checked+.menuM .menu1 {
                display: none;
            }
            .menuM {
                position: relative;
                margin-bottom: -200px;
                margin-left: -30px;
            }
            .disc {
                max-width: 100%;
                margin-left: 30px;
                margin-right: 0%;
            }
            .pp {
                display: none;
            }
            .pp1 {
                margin-left: -0px;
                display: block;
                margin-top: -30px;
            }
            .menu1 {
                padding: 0;
            }
            .nav-links {
                flex-direction: column;
                width: 100%;
                height: 100%;
                justify-content: center;
                background: #0a7256;
                margin-top: -900px;
                transition: all 0.5s ease;
            }
            .menu1 a {
                color: white;
            }
            .menu1 a:hover {
                color: rgb(0, 0, 0);
            }
            .nav-links li {
                margin: 30px auto;
            }
            .col span {
                margin-left: 0px;
            }
            .photo {
                margin-top: 200px;
            }
            .photo img {
                height: 700px;
                width: 100%;
                display: cover;
            }
            .carousel-caption h3 {
                font-size: 40px;
            }
            #line1 {
                margin-left: 40px;
                width: 482px;
            }
            .carousel-caption h4 {
                font-size: 30px;
            }
            .carousel-caption p {
                font-size: 20px;
            }
            .text01 {
                width: 300px;
                height: 300px;
            }
            .text01 h2 {
                font-size: 50px;
            }
            .text01 p {
                margin-top: 50px;
                font-size: 20px;
            }
            .text1 img {
                width: 140px;
                margin-left: 330px;
                margin-top: -170px;
            }
            .mainF img {
                margin-left: -250px;
                margin-top: 190px;
                width: 300px;
                height: 200px;
            }
            .pinkBord h3 {
                font-size: 25px;
                margin-left: 50px;
            }
            .discount {
                width: 513px;
            }
            .members img {
                width: 300px;
                height: 330px;
                margin-left: 100px;
                padding-bottom: 20px;
                padding-bottom: 80px;
            }
            .pinkBord .memberText {
                margin-top: -1080px;
                font-size: 8px;
                margin-left: 180px;
            }
            .pinkBord .memberText p {
                font-size: 15px;
            }
            .memberText1 {
                margin-top: 210px;
                margin-left: 180px;
            }
            .memberText2 {
                margin-left: 180px;
                margin-top: 210px;
            }
            .memberText3 {
                margin-top: 210px;
                margin-left: 180px;
            }
            .signText h2 {
                width: 300px;
                font-size: 25px;
                margin-left: 120px;
            }
            .form {
                width: 340px;
            }
            .memberText2 img {
                margin-left: -5px;
            }
            .memberText3 img {
                margin-left: -5px;
            }
            .memberText3 p {
                margin-left: 45px;
            }
            .memberText1 p {
                margin-left: 35px;
            }
        }