* {
    margin: 0 auto;
    max-width: 1270px;
}

.menuM {
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0%;
    background-color: white;
}

.discount {
    width: 100%;
    background-color: #0a7256;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logoS img {
    width: 200px;
    margin-left: 450px;
}

.pp1 {
    position: absolute;
    width: 200px;
    margin-left: 10px;
    display: none;
}

.icons1 {
    display: flex;
    justify-content: right;
}

.menu1 {
    margin-bottom: 15px;
}

.menu1 ul {
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 50px;
    list-style-type: none;
}

.menu1 ul {
    margin-top: 0px;
}

.menu1 a {
    text-decoration: none;
    color: black;
}

.menu1 a:hover {
    color: rgb(4, 104, 20);
}

.plants h1 {
    margin-left: 470px;
    margin-top: -200px;
    letter-spacing: 10px;
    font-size: 60px;
    color: white;
    font-family: 'Spartan', sans-serif;
}

.plants img {
    height: 600px;
    width: 1260px;
    display: cover;
}

.content h1 {
    margin-left: 450px;
    margin-top: -200px;
    letter-spacing: 10px;
    font-size: 70px;
    color: white;
    font-family: 'Spartan', sans-serif;
}

.content1 hr {
    margin-left: 30px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.content1 {
    margin-top: 200px;
}

.content {
    background-color: #FDF5E6;
}

.col-xl-1 .imgBox {
    width: 191px;
    height: 191px;
    background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1526653346/products/maidenhair-fern-e1a1d9.jpg) no-repeat;
    background-size: 191px;
}

.col-xl-1 .imgBox:hover {
    width: 191px;
    height: 191px;
    background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1508426168/products/maidenhair-fern-306.jpg) no-repeat;
    background-size: 191px;
}

.col-xl-1 h4 {
    font-family: 'Dosis', sans-serif;
    margin-left: 60px;
    margin-top: 10px;
    text-transform: uppercase;
}

.col-xl-1 p {
    size: 20px;
    font-family: 'Dosis', sans-serif;
    margin-left: 70px;
    letter-spacing: 2px;
    color: grey;
}

.col-xl-2 .imgBox {
    width: 191px;
    height: 191px;
    background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1617297019/lm67i6fztgjy9u3jiaox.jpg) no-repeat;
    margin-left: 80px;
    background-size: 191px;
}

.col-xl-2 .imgBox:hover {
    width: 191px;
    height: 191px;
    background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1617713180/oqlklghye7glhez7whfz.jpg) no-repeat;
    background-size: 191px;
}

.col-xl-2 h4 {
    font-family: 'Dosis', sans-serif;
    margin-top: 10px;
    margin-left: 110px;
    width: 200px;
    text-transform: uppercase;
}

.col-xl-2 p {
    size: 20px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    color: grey;
    margin-left: 150px;
}

.col-xl-3 .imgBox {
    width: 191px;
    height: 191px;
    background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1617715151/vl2pyp8sv8sfsaeo7b8d.jpg) no-repeat;
    background-size: 191px;
}

.col-xl-3 .imgBox:hover {
    width: 191px;
    height: 191px;
    background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1617715172/vsz8hzjwhyc89t35nnul.jpg) no-repeat;
    background-size: 191px;
}

.col-xl-3 h4 {
    font-family: 'Dosis', sans-serif;
    margin-top: 10px;
    margin-left: 80px;
    width: 200px;
    text-transform: uppercase;
}

.col-xl-3 p {
    size: 20px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    color: grey;
    margin-left: 130px;
}

.content2 .col-xl-1 .imgBox {
    width: 191px;
    height: 191px;
    background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1636716238/c4ohnhfzxigcitolmhvz.jpg) no-repeat;
    background-size: 191px;
}

.content2 .col-xl-1 .imgBox:hover {
    width: 191px;
    height: 191px;
    background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1577100917/t41xc5fofsbfqjdkbd1n.jpg) no-repeat;
    background-size: 191px;
}

.content2 .col-xl-1 h4 {
    font-family: 'Dosis', sans-serif;
    margin-left: 60px;
    margin-top: 10px;
    text-transform: uppercase;
}

.content2 .col-xl-1 p {
    size: 20px;
    font-family: 'Dosis', sans-serif;
    margin-left: 70px;
    letter-spacing: 2px;
    color: grey;
}

.content2 .col-xl-2 .imgBox {
    width: 191px;
    height: 191px;
    background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1564134061/products/cyclamen-caac54.jpg) no-repeat;
    background-size: 191px;
}

.content2 .col-xl-2 .imgBox:hover {
    width: 191px;
    height: 191px;
    background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1642499653/nr5yowxt8kb4wpz0y3uh.jpg) no-repeat;
    background-size: 191px;
}

.content2 .col-xl-2 h4 {
    font-family: 'Dosis', sans-serif;
    margin-top: 10px;
    margin-left: 140px;
    text-transform: uppercase;
}

.content2 .col-xl-2 p {
    size: 20px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    margin-left: 160px;
    color: grey;
}

.content2 .col-xl-3 .imgBox {
    width: 191px;
    height: 191px;
    background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1643303299/ehausngqz6yzhbgyrxqh.jpg) no-repeat;
    background-size: 191px;
}

.content2 .col-xl-3 .imgBox:hover {
    width: 191px;
    height: 191px;
    background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1642013118/qn23y0j1n62j7aet5mqr.jpg) no-repeat;
    background-size: 191px;
}

.content2 .col-xl-3 h4 {
    font-family: 'Dosis', sans-serif;
    margin-top: 10px;
    margin-left: 100px;
    text-transform: uppercase;
}

.content2 .col-xl-3 p {
    size: 20px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    color: grey;
    margin-left: 130px;
}

.content3 .col-xl-1 .imgBox {
    width: 191px;
    height: 191px;
    background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1643358895/uwm5tnr0rl5ct3zwdbrp.jpg) no-repeat;
    background-size: 191px;
}

.content3 .col-xl-1 .imgBox:hover {
    width: 191px;
    height: 191px;
    background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1643362974/q9c3jy9dsmizfwqxmtcw.png) no-repeat;
    background-size: 191px;
}

.content3 .col-xl-1 h4 {
    font-family: 'Dosis', sans-serif;
    margin-top: 10px;
    width: 250px;
    margin-left: 10px;
}

.content3 .col-xl-1 p {
    size: 20px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    color: grey;
}

.content3 .col-xl-2 .imgBox {
    width: 191px;
    height: 191px;
    background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1643364263/yac7mltgrbdrk5xhhleh.jpg) no-repeat;
    background-size: 191px;
}

.content3 .col-xl-2 .imgBox:hover {
    width: 191px;
    height: 191px;
    background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1643364259/r8nqinusltraqvhjdyn9.png) no-repeat;
    background-size: 191px;
}

.content3 .col-xl-2 h4 {
    font-family: 'Dosis', sans-serif;
    margin-top: 10px;
    width: 300px;
    margin-left: 50px;
    text-transform: uppercase;
    word-spacing: 2px;
}

.content3 .col-xl-2 p {
    size: 20px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    color: grey;
}

.content3 .col-xl-3 .imgBox {
    width: 191px;
    height: 191px;
    background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1622058767/mz43ni2rvdozfm8q6beq.jpg) no-repeat;
    background-size: 191px;
}

.content3 .col-xl-3 .imgBox:hover {
    width: 191px;
    height: 191px;
    background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1593706862/gzmikefzjcszwa8wgg4y.jpg) no-repeat;
    background-size: 191px;
}

.content3 .col-xl-3 h4 {
    font-family: 'Dosis', sans-serif;
    margin-top: 10px;
    text-transform: uppercase;
}

.content3 .col-xl-3 p {
    size: 20px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    color: grey;
}

hr {
    margin-left: 30px;
    justify-content: center;
    margin-top: 240px;
    margin-bottom: 50px;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 12px;
}

.p1 {
    font-weight: 700;
}

.end {
    margin-top: 30px;
    margin-bottom: 30px;
}

.icons {
    display: flex;
    justify-content: center;
}

.t2 {
    text-align: center;
    margin-top: 10px;
}

.hover-effect-scale {
    list-style: none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0;
}

.hover-effect-scale li {
    position: relative;
    display: inline-block;
    background-color: #fff;
    margin: 0;
    border: 5px solid #fff;
    box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.hover-effect-scale li h3 {
    color: #fff;
    margin: 5px;
}

.hover-effect-scale li p {
    color: #fff;
    margin: 5px;
}

.hover-effect-scale li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #fff;
    background: #000;
    border-radius: 5px;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
}

.hover-effect-scale li a:hover {
    background: #454545;
    color: #fff;
}

.hover-effect-scale li>div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hover-effect-scale li:hover>div {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.hover-effect-scale li div {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.35);
    transition: all 0.4s ease-in-out;
    color: #fff;
}

.hover-effect-scale li img {
    transition: all 0.2s linear;
}

.hover-effect-scale li:hover img {
    transform: scale(1.3);
}

.hover-effect-scale li:hover div {
    opacity: 1;
}